.offf{
    width: 100%;
    height: 50px;
}


.loho{
    width: 40px;
    padding-top: 20px;
    margin-left: s;
}

.logo{
    justify-content: space-between;
    margin-left: 30px;
}

.LINK{
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    padding-top: -10px;
    color: #212121;

}

.fff{
     margin-left: 170px;
     width: 600px;
     height: 40px;
    }